<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${comments}</title>
<link rel="stylesheet" href="${rc.contextPath}/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/css/AdminLTE.min.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/css/all-skins.min.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/css/main.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="${rc.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">${comments}</div>
		<form class="form-horizontal">
		#foreach($column in $columns)
		#if($column.columnName != $pk.columnName)
			<div class="form-group">
			   	<div class="col-sm-2 control-label">${column.comments}</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="${classname}.${column.attrname}" placeholder="${column.comments}"/>
			    </div>
			</div>
		#end
		#end
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${rc.contextPath}/statics/libs/vue.min.js"></script>
<script src="${rc.contextPath}/statics/libs/router.js"></script>
<script src="${rc.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${rc.contextPath}/statics/libs/jquery.slimscroll.min.js"></script>
<script src="${rc.contextPath}/statics/libs/fastclick.min.js"></script>
<script src="${rc.contextPath}/statics/libs/app.js"></script>
<script src="${rc.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="${rc.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${rc.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${rc.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${rc.contextPath}/js/${pathName}.js?_${date.systemTime}"></script>
<script src="${rc.contextPath}/js/common.js"></script>
</body>
</html>